.git/
.venv/
keys/

frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/

Referncias/node_modules/

**/__pycache__/
**/.pytest_cache/
*.pyc

node_modules/
coverage/
npm-debug.*
yarn-debug.*
yarn-error.*
